<div class="container">
  <nav class="navbar fixed-top navbar-light bg-light">
    <%= link_to "Yelp Copycat", restaurants_path, class: "navbar-brand" %>
    <%= link_to "Add restaurant", new_restaurant_path, class: "btn btn-light border rounded-pill shadow-sm" %>
  </nav>
  <div class="container-fluid mt-5 row">
    <% @restaurants.each do |restaurant| %>
      <div class="card shadow p-3 mb-5 bg-white rounded col-4" style="width: 8rem;">
        <img src="https://loremflickr.com/320/240/restaurant" class="card-img-top" alt="..."> %>
        <div class="card-body">
          <h5 class="card-title"><%= restaurant.name %></h5>
          <p class="card-text"><%= restaurant.category.capitalize %> cuisine.</p>
          <h5 class="card-title"><%= link_to "Details", restaurant_path(restaurant), class: "btn btn-primary" %></h5>
        </div>
      </div>
    <% end %>
  </div>

</div>
